<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link href="static/css/style.css" rel="stylesheet" />   
</head>
<body>
    <div id = "page">
    <h1>Sentiment Analysis</h1>
    <form method="POST">
        <input type="text" name="video_url" id="video_url" placeholder="YouTube Video URL">
        <br>
        <button type="submit" >Submit</button>
    </form>
    <br>
    <br>
    <br>
    <!-- Display result here -->
    {% if vader_image_path %}
        <img src="{{ vader_image_path }}" alt="vader_image_path" style="width: 300px; height: 100px">
        <img src="{{ bag_of_words_image_path }}" alt="bag_of_words_image_path" style="width: 300px; height: 100px;">
    {% endif %}

    </div>
</body>
</html>
